:root{
  --color-dark:#2d034e;
  --color-light: #6707b0;
}

*{box-sizing: border-box;}

html{height: 100%;}

body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background: linear-gradient(45deg, rgba(45, 3, 78, .8), rgba(45, 3, 78, .5)), url('../img/wave_texture.png') repeat;
  background-size: auto;
  position: relative;
  grid-template-columns:60px 1fr;
  display: grid;
}

body.openNav {
	grid-template-columns:260px 1fr;
}

.meeting-block {
  background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5)), url('../img/wave_texture.png') repeat;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 30px;
}

.meeting-logo {
  align-self: center;
  display: block;
  background: url('../img/wave_logo.png') no-repeat scroll 0 50%;
  background-size: 100px;
  width: 100px;
  height: 50px;
  margin-right: 30px;
  background-position:center;
}

.meeting-block h1 {
  color:#fff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

/* Layout */

#container {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#main {
  grid-row: 2;
  width: 100%;
  background-image: linear-gradient(rgb(0,0,0,.0), rgba(0,0,0));
  padding: 0px;
  max-width: 890px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,.32);
  grid-column: 2/3;
  position: relative;
}


#header {
  z-index: 1;
  height:80px;
  position: fixed;
  display: grid;
  grid-template-columns: 0px auto;
  width: 0;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

#header.scrolled{
  right: 0px;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000),
    color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

#banner {
  text-align: center;
  margin: 0 auto;
  grid-column: 1/4;
  width: 468px;
  height: 60px;
  color: #fff;
  border: 2px dashed #fff;
  display: grid;
  align-items: center;
  align-self: center;
}

.menu-header{
  height:80px;
  position: fixed;
  display: grid;
  grid-template-columns: 0px auto;
  width: 0;
} 

.menu-header a.logotype {
	margin: 0 80px;
  align-self: center;
  display: block;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  font-size: 21px;
  background: url('../img/wave_colored.svg') no-repeat scroll 0 50%;
  background-size: 100px;
  width: 100px;
  height: 80px;
  background-position:center;
}

.menu-header a.logotype span {
  font-weight: 400;
}

.menu-header a.logotype:hover {
  color: #777;
}

.menu-header a.logotype:before {
  bottom: 15px;
  font-weight: normal;
  position: absolute;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  color: white;
  content: "beta";
  left: 150px;
}

.logotype__unsonet {
	transition: opacity 0.2s;
	opacity: 0.8;
	display: inline-block;
	background: url(../img/unsonet_logo_white.svg) no-repeat scroll 0 50%;
  background-size: 100px;
  width: 100px;
  height: 30px;
}

.logotype__unsonet:hover{
	opacity: 1;
  transition: opacity 0.2s;
}

#footer {
	grid-template-columns: 1fr 1fr;
  padding: 30px;
  box-sizing: border-box;
  display: grid;
}

#footer .current-tab {background: none!important;}

.footer-menu {
	margin:0px;
	display: block;
	list-style-type: none;
  padding: 0px;
}

.footer-menu li {
  align-items: center;
  height: 30px!important;
  display: grid;
}

.footer-menu li:not(.follow-block) a{width:max-content;}

.footer-menu a {
	transition: color 0.2s;
	color:#cccccc;
	font-size: 14px;
	text-decoration: none!important;
}

.footer-menu a:hover {
  color:white;
}

.footer-menu__right {
	margin-left: auto;
  text-align: right;
}
.footer-menu__right li:not(.follow-block) a{margin-left: auto;}

.follow-block a{
  margin-left: 10px;
  display: grid;
}

.follow-block {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.follow-block i{
  font-size:20px;
  align-self: center;
}


/* Menu Styles */
.primary-nav {
	position: fixed;
	z-index: 3;
}


.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}


.open-panel {
  border: none;
  padding: 0;
}

.hamburger {
	outline: none;
	background: none;
	position: absolute;
	display: block;
	text-align: center;
	padding: 13px 0;
	width: 60px;
  height: 80px;
  left: 0;
  top: 0;
  cursor: pointer;
}

.hamburger:before {
	content:"\2630";
	display: block;
  color: #fff;
  line-height: 32px;
  font-size: 16px;
}

.openNav .hamburger:before {
	content:"\2715";
	display: block;
  color: #fff;
  line-height: 32px;
  font-size: 16px;
}

.hamburger:hover:before {
  color: #eee;
}

.menu .icon {
	pointer-events: none;
  color: #fff;
}


.menu li{
  padding: 5px;
  display: grid;
  transition: color 0.2s;
  color: #cccccc;
  grid-template-columns: 30px 1fr auto;
  font-size: 14px;
  cursor:pointer;
}

.menu li.menu-hasdropdown{
  padding: 0!important;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.menu li:hover {
	color: #fff;
}




.menu-dropdown li .icon {
  background: center/cover;
  width: 50px;
  height:50px;
  transition: color 0.2s;
  color: #cccccc;
  display: grid;
  text-align: center;
  padding: 0 5px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,.32);
}
.menu-dropdown li .text{
  padding: 5px;
  align-self: center;
}
.menu-dropdown li .hide i{
  color:#aaa;
}
.menu-dropdown li .hide i:hover{
  color:#fff;
}


.menu-dropdown li .hide{
  display: grid;
  align-items: center;
  text-align: center;
}

.sub-menu-dropdown li .hide{
  visibility: hidden;
}
.sub-menu-dropdown li:hover .hide{
  visibility: visible;
}



.menu-dropdown li .icon i{
  align-self: center;
  text-shadow: 0px 0px 20px #000; 
}

.menu-dropdown li .icon .numerals__song{display: none;}

.menu-dropdown li .icon .icon-counter{
  opacity: 0.5;
  bottom: -100%;
  color: #fff;
  align-self: center;
  display: block;
  background: #000;
  width: 100%;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  transition: all .2s linear;
}
.icon-counter i{
  padding: 3px;
  display: block;
}

.menu-playlists {}
.open-library{
  background-color: #000!important;
  position: sticky;
  bottom:0;
  width: 100%;
}

  .menu-dropdown li:hover .icon {
   color: #fff;
 }

 .sub-menu-dropdown li:hover .icon .icon-counter{
  bottom:0px;
}

.menu label {
  padding: 5px;
  grid-template-columns: 30px 1fr auto;
  display: grid;
}

.menu label:hover {
  cursor: pointer;
}

.menu input[type="checkbox"] {
  display: none;
}

input#menu[type="checkbox"] {
  display: none;
}

.sub-menu-dropdown {
	display: none;
  grid-row: 2;
  overflow: hidden;
}

.new-wrapper {
  grid-template-rows: 80px auto;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 890px) 1fr;
  z-index: 2;
  grid-row: 1;
  box-sizing: border-box;
  grid-column-start: 2;
  position: relative;
  width: 100%;
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.openNav .new-wrapper {
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu:checked + ul.menu-dropdown {
  
  left: 0;
  -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked + .sub-menu-dropdown, .sub-menu-checkbox:checked + .sub-menu-dropdown ul.sub-menu-dropdown{
  display: block!important;
  -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.downarrow {
  padding: 0px 10px;
  background: transparent;
  color: #777;
  width: 24px;
  height: 24px;
  text-align: center;
}

.menu-dropdown li:hover .downarrow {
  color: #fff;
}

.menu {
	position: absolute;
	display: block;
	left: -200px;
  top: 0;
  width: 260px;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
}

.menu.scrolled{
  background-color: rgba(0, 0, 0, 0)!important;
  transition: all 0.45s;
}

.menu-dropdown {
  top: 0;
  overflow-y: auto;
}

.overflow-container {
  position: relative;
  height: calc(100vh - 80px)!important;
  overflow-y: auto;
  margin-top: 80px;
  background-color: #000;
  display: grid;
  grid-template-rows: max-content auto;
}

.sub-menu-dropdown {
  height: auto;
  min-height: auto;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  max-height: fill-available;
  overflow: hidden;
}

.sub-menu-dropdown li{background-color: #111;}

.menu:hover {
	position: absolute;
	left: 0;
	top: 0;
}

.openNav .menu:hover {
	position: absolute;
	left: -200px;
}

.openNav .menu {
	transform: translate3d(200px, 0, 0);
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

	/* label.hamburger {
		display: none;
   } */


   /* look and feel only, not needed for core menu*/

   @-webkit-keyframes grow {
     
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
    
  }

  @keyframes grow {
   
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1
    }
    
  }

  /* Text meant only for screen readers. */

  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    /* Above WP toolbar. */
  }

  #results {list-style:none;  }
  .paging-button {  }
  .button-container { margin:10px 0; }
  .btn { cursor:pointer; }
  /* Global Button Styles */
  button.animated-button:link, a.animated-button:visited {
   position: relative;
   display: block;
   margin: 30px auto 0;
   padding: 14px 15px;
   color: #fff;
   font-size:14px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   letter-spacing: .08em;
   border-radius: 0;
   text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }
 button.animated-button:link:after, a.animated-button:visited:after {
   content: "";
   position: absolute;
   height: 0%;
   left: 50%;
   top: 50%;
   width: 150%;
   z-index: -1;
   -webkit-transition: all 0.75s ease 0s;
   -moz-transition: all 0.75s ease 0s;
   -o-transition: all 0.75s ease 0s;
   transition: all 0.75s ease 0s;
 }
 button.animated-button:link:hover, a.animated-button:visited:hover {
   color: #FFF;
   text-shadow: none;
 }
 button.animated-button:link:hover:after, a.animated-button:visited:hover:after {
   height: 450%;
 }
 button.animated-button:link, a.animated-button:visited {
   position: relative;
   display: block;
   margin: 30px auto 0;
   padding: 14px 15px;
   color: #fff;
   font-size:14px;
   border-radius: 0;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   letter-spacing: .08em;
   text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }

 button.animated-button.thar-three {
   z-index: 1;
   float:right; width:150px; margin-left:10px; 
   color: var(--color-light);
   cursor: pointer;
   background:#FFF;
   display: block;
   position: relative;
   border: 2px solid var(--color-light);
   transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
   0s;
 }
 button.animated-button.thar-three:hover {
   color: #FFF !important;
   background-color: transparent;
   text-shadow: nthree;
 }
 button.animated-button.thar-three:hover:before {
   left: 0%;
   right: auto;
   width: 100%;
 }
 button.animated-button.thar-three:before {
   display: block;
   position: absolute;
   top: 0px;
   right: 0px;
   height: 100%;
   width: 0px;
   z-index: -1;
   content: '';
   color: #000 !important;
   background: var(--color-light);
   transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
   0s;
 }

 button.animated-button.thar-four {
   z-index:1;
   float:right; width:150px;
   color: var(--color-light);
   background:#FFF;
   cursor: pointer;
   display: block;
   position: relative;
   border: 2px solid var(--color-light);
   transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
   0s;
 }
 button.animated-button.thar-four:hover {
   color: #FFF !important;
   background-color: transparent;
   text-shadow: nfour;
 }
 button.animated-button.thar-four:hover:before {
   right: 0%;
   left: auto;
   width: 100%;
 }
 button.animated-button.thar-four:before {
   display: block;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 0px;
   z-index: -1;
   content: '';
   color: #000 !important;
   background: var(--color-light);
   transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
   0s;
 }
 /* end Global Button Styles */


 .player-controls{
  position: sticky;
  top:0;
  z-index: 1;
}
/*Youtube playlist*/

.acc-container {
  background: #fff;
  width:auto;
  padding: 5px 0px;
  display: block;
  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset: my-counter;
  margin: 0px;
}


.acc-container li{
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding:2px 0px;
  box-sizing: border-box;
}

.acc-container li:before {
  top:0px;
  position: absolute;
  box-sizing: border-box;
  width:max-content;
  text-align:center;
  align-self:center;
  content: counter(my-counter);
  counter-increment: my-counter; 
  color:#aaa;
  display:inline-block;
  padding:10px;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:15px;
  min-width:60px;
  max-height: 60px;
  z-index: 1;
}

.acc-container li.ui-sortable-helper:before{counter-increment: none!important;}

.acc-container li:hover .likeButton {
  visibility: visible;
}

.acc-container li:hover::before {
  visibility: hidden;
  width:0px;
  height: 0px;
}

.acc-hide {
  box-sizing: border-box;
  visibility: hidden;
  display: grid;
  min-width:60px;
  min-height: 60px;
  margin: 0 auto;
  text-align:center;
  color:#aaa;
}

.acc-hide:before {
  align-self: center;
  display: inline-block;
  content: "\f05e";
  font-family: 'Font Awesome 5 Pro';
}

.acc-hide.checked {
  visibility: visible!important;
}

li.is-hide .acc-btn {
  opacity: 0.5;
}

.acc-container li.is-hide::before {
  display: none;
}

.acc-container li:hover .acc-hide {
  visibility: visible;
}

.acc-container .likeButton { 
  visibility: hidden; 
  align-self:center; 
  box-sizing: border-box; 
  color:#aaa; 
  display:grid; 
  padding:10px; 
  margin: 0 auto; 
  text-align:center; 
  width:max-content; 
  min-width:60px; 
  min-height: 60px; 
  position: relative; 
  cursor: pointer; 
} 
.acc-container .likeButton:before, .acc-container .likeButton:after { 
  position: absolute; 
  margin: 20px; 
  transition: all .3s ease-out; 
  content: "\f004"; 
  font-family: 'Font Awesome 5 Pro'; 
} 
.acc-container .likeButton:hover:before { 
  transform: scale(1.2); 
} 
.acc-container .likeButton:active:before { 
  transition: none; 
  transform: scale(1); 
} 
.acc-container .likeButton:after { 
  opacity: 0; 
} 
.acc-container .likeButton.checked { 
  color: var(--color-light)!important; 
  visibility: visible; 
} 
.acc-container .likeButton.checked:before { 
  font-weight: 900; 
  visibility: visible; 
} 
.acc-container .likeButton.checked:after { 
  font-weight: 900; 
  animation: likeFly .6s ease-in; 
  visibility: visible; 
} 

@keyframes heartbeat { 
  from { 
    opacity: 1; 
  } 
  to { 
    transform: scale(3); 
    opacity: 0; 
  } 
} 
@keyframes likeFly { 
  from { 
    opacity: 1; 
  } 
  to { 
    transform: scale(3) rotate(45deg) translateY(-90px); 
    opacity: 0; 
  } 
}

.acc-btn { 
  display:grid;
  grid-template-columns:auto 1fr auto;
  color:#000;
  width:100%;
  margin:0 auto;
  padding:5px;
  cursor:pointer;
  background-color:#fff;
  border-radius:5px;
  box-sizing:border-box;
}

.acc-btn:hover { 
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  background-image: -o-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}


.acc-btn:hover .acc-cover:before {
  text-shadow: 0px 0px 20px #000; 
  content:"\f04b"; 
  color:#fff;
  position: absolute; 
  width: 100%;
  align-self: center;
  text-align: center;
  font-family: 'Font Awesome 5 Pro';
  display: inline-block;
  font-weight: 900;
}

.acc-btn:hover .acc-cover.paused:before {
  content:"\f04c";
}

.acc-cover{
  position:relative;
  background:#000;
  background-size: auto;
  width:50px;
  height:50px;
  display:grid;
  border-radius:5px;
  background-position: 50%;
}

.acc-title {
  padding:0 15px;
  align-self:center;
}

.acc-controls {
  color:#aaa;
  align-self:center;
}
.controls-menu{
  padding: 10px;
  grid-template-columns: auto auto;
  display: none;
}

.controls-toggler{align-self: center;padding: 5px;opacity: 0.8;}
.controls-toggler:hover{opacity: 1;}
.controls-time{padding:0 15px;}

.acc-btn:hover .controls-menu{display: grid;}
.acc-btn:hover .controls-time{display: none;}

.controls-hide{
  display: none; 
  transition: 0.3s;
}

.controls-hide i {padding: 5px;opacity: 0.8;}
.controls-hide i:hover {padding: 5px;opacity: 1;}
.controls-hide i:before,.controls-toggler:before {width:14px;display:block; text-align:center;}
.controls-hide.show{
  display: block; 
}

.acc-content {
  grid-column: 2/3;
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.acc-content-inner {
  padding:15px;
  font-size: 12px;
  background:#fff;
}

.acc-content-inner p {
  margin: 0px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.acc-item.is-active .acc-btn { 
  z-index:1;
  background: var(--color-light); 
  color:#fff;
}

.acc-item.is-active .acc-controls {
  color:#fff;
}

.music-info-title {
  color:#aaa;padding-right: 15px;
}

/*end of Youtube playlist*/

button {
  appearance: none;
  border: 1px solid;
  padding: 0.5em 1em;
  background: none;
  font-size: 1em;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

button.playlist__prev, button.playlist__next{
	padding: 0 10px; 
	float:left;
  background: none;
  color:#cccccc;
  border: 0px;}

  button.playlist__prev:hover, button.playlist__next:hover{
   transition: color 0.2s;
   color:#fff;
 }

/* Component containers
----------------------------------*/
.ui-menu {
  font-size: 1em !important;
  font-family: 'Work Sans', sans-serif !important;
  border: 1px solid #eee!important;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,.32);
  width: 100%!important;
}

.ui-menu-item-wrapper.ui-state-active {
	background: #eee !important; 
	border:1px solid #eee !important;
}

.ui-menu-item-wrapper {
  padding: 10px 20px !important;
}

.ui-front {
  z-index: 0!important;
}

/* end of Component containers */

.input-style {
	display: grid;
	grid-template-columns: 1fr auto;
  width: 100%;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid transparent;
}

.input-style input{
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

.input-style button{
  border:0px;
  color:#ddd;
  outline: none;
  padding: 0px 30px 0px 30px;
}

.input-style button:hover{color:#aaa;}
.input-style button.active{color:var(--color-light);}
.input-style .style{
  background: var(--color-light);
  width: 0%;
  height: 3px;
  bottom: 0px;
  margin: auto;
  grid-column: 1 / 3;
}
/*export button*/
.btn {
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  display: block;
  padding: 0px!important;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  /*background-color: #2ecc71;*/
  background-color: var(--color-light);
  color: #fff!important;
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  /*background-color: #27ae60;*/
  background-color: var(--color-dark);
  color:#fff;
}

.btn > * {
  position: relative;
}

.btn span {
  grid-template-columns: 1fr auto;
  display: grid;
  padding: 10px 24px;
  text-align: left;
  align-items:center;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0; 
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}
/*end of export button*/

/*Google style search autocomplete*/
.search-inputs{
  display:block;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
}

.search-bar {
  position: absolute;
  background: transparent;
  top: 0;
}

.search-result, .search-bar {
  text-rendering: optimizelegibility;
  outline: none;
  letter-spacing: 0.6px;
  background-color: none;
}

.search-result{color:#aaa;}
/*end of Google style search autocomplete*/

/*recent search items*/

.recent-search {
  background: #fff;
  width: 100%;
  display: block;
  align-items: center;
  padding: 10px;
}

.recent-search__list{
  display: inline;
  margin: -4px;
}

.search-item {
  margin: 2px;
  display: inline-block;
  padding: .5rem;
  line-height: 1;
  color: var(--color-dark);
  border-radius: 5px;
  background: #eee;
  cursor: pointer;
}
.search-item:hover, .search-item:focus {
  background: #ccc;
}
.search-item__close {
  opacity: .5;
  display: inline-block;
  cursor: pointer;
  margin-left: .5rem;
}
.search-item__close:hover {
  opacity: 1;
}


.clear-btn {
  font-family: inherit;
  background: var(--color-light);
  color: #ffffff;
  border: 0;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
  display: inline-block;
  padding: .5rem;
  line-height: 1;
}
.clear-btn:hover {
  background: var(--color-dark);
}
.clear-btn:focus, .clear-btn:active {
  outline: 0;
}
.clear-btn:disabled {
  background: #f6f7f9;
  color: #91a1bb;
  cursor: not-allowed;
}

/*end of recent search items*/

#YouTube-player {display: none;}


#mask {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 4;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  align-items: center;
}


.modal {
  width: 100%;
  min-height: fit-content;
  text-align: left;
  color: black;
  background: #fff;
  position: relative;
  z-index: 4;  
  display: none;
  box-sizing: border-box;
  max-width: 50%;
  margin: auto;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,.62);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  max-width: 600px;
}

#YouTube-player.modal{
  border:0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  padding: 0px;
  min-height:auto;
  max-width:80%!important;
}

i.modal_close {
  position: absolute;
  background: #000;
  height: 50px;
  width: 50px;
  display: grid;
  font-size: 20px;
  z-index: 3;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  right: 0;
}
i.modal_close:before{
  color:#fff;
  opacity: 0.5;
}

.modal_close:hover:before{opacity: 1;}

.modal_wrapper{
  display: grid;
}
.modal_header{
  padding: 30px 50px 30px 30px;
  color:white;
  background: linear-gradient(45deg, rgba(103, 0, 31, .1), rgba(34, 101, 163, .1)), #000 repeat;;
}
.modal_content{
  padding: 30px;
}


ul.languages {
  column-count: 4; 
  list-style-type: none; 
  margin:0px;
  padding: 30px;
}
ul.languages li {
  padding: 5px;  
  display: inline-block; 
  width: 100%;}
ul.languages a{border-bottom: 1px solid transparent;}
ul.languages a:hover {
  text-decoration: none;
  border-bottom: 1px dashed var(--color-dark);}


/*album list*/
ul.library{
  padding: 10px;
  display: grid;
  margin: 0;
  background: #fff;  
grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}
ul.library li{
  display: inline-block;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
ul.library li:hover{
  opacity: 1;
}
ul.library .filter-title{
  color: #000;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
margin: 0 auto;
    width: 100%;
    padding: 10px;
    text-align: center;}
/*end of album list*/

/*slider*/

.slider-container {
  padding: 0px;
  position: relative;
  height: auto;
  transition: margin 550ms ease;
  display: grid;
  /*grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );*/
}

.slider-container li {
  display:inline-block;
  margin: 0 auto;
  width: 150px;
  border-radius: 10px;
  font: 600 xx-large 'Roboto', Helvetica, monospace;
  text-transform: uppercase;
  line-height: 4em;
  color: #ffffff;
  text-align: center;
}

.slider-container li:nth-child(n+1) {
  background: red;
}

.slider-container li:nth-child(n+2) {
  background: green;
}

.slider-container li:nth-child(n+3) {
  background: darkkhaki;
}

.slider-container li:nth-child(n+4) {
  background: navy;
}

.slider-container li:nth-child(n+5) {
  background: palevioletred;
}

.slider-container li:nth-child(n+6) {
  background: darkcyan;
}

.slider-container li:nth-child(n+7) {
  background: slateblue;
}

.slider-container li:nth-child(n+8) {
  background: purple;
}

.slider-container li:nth-child(n+9) {
  background: chartreuse;
}

.slider-container li:nth-child(n+10) {
  background: crimson;
}

.slider-container li:nth-child(n+11) {
  background: mediumspringgreen;
}

.slider-container li:nth-child(n+12) {
  background: tomato;
}
.slider-container li:nth-child(n+13) {
  background: yellow;
}
.slider-container__first {
  float: left;
  margin-left: 0;
}

.slider-container__last {
  float: right;
  margin-right: 0;
}

.slider-main {
  background: #fff;
  padding: 10px;
  position: relative;
  width:100%;
  overflow: hidden;
}

.slider-arrow {
  text-shadow: 0px 0px 20px #000;
  align-items: center;
    display: grid;
    top: 0;
    z-index: 1;
    position: absolute;
    font-size: 24px;
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    height: 100%;
    border:0px!important;
    padding: 15px;
}

.slider-arrow:hover {
  background: rgb(0,0,0,.5);
  color:#fff;
}

.slider-leftBtn{
background-image: linear-gradient(to left, rgb(0,0,0,.0), #fff);
left: 0;
}

.slider-rightBtn{
background-image: linear-gradient(to right, rgb(0,0,0,.0), #fff);
right: 0;
}

/*end of slider*/

.YouTube-player-controls {
  font-size: 14px;
  color: #cccccc;
  padding: 0 15px;
  align-items: center;
  background-color: rgba(0,0,0,1);
  display: grid;
  grid-template-rows:1fr 20px 1fr;
  transition: all 0.45s;
}

.YouTube-player-controls.scrolled{
  background-color: rgba(0, 0, 0, 0)!important;
  transition: all 0.45s;
}

.YouTube-player-buttons{
  align-items: center;
  display: grid;
  grid-template-columns:40px 40px 40px auto auto 1fr auto auto auto auto;
}

.YouTube-player-details{
  align-self: end;
}

.YouTube-player-title{ 
  padding: 0 10px;
}

#YouTube-player-errors{ 
  padding: 0 10px;
  color:red; 
  display: none;
}
#YouTube-player-errors:before{
  content: 'Error: ';
}

#YouTube-player-rate{padding: 0 10px;}
.YouTube-player-speed-wrap{padding: 0 10px; width:70px;}
#YouTube-player-speed{padding: 10px 0;background: transparent;}


.YouTube-player-link__youtube a,.YouTube-player-link__lastfm a{
  padding: 0 10px;
  font-size:1.5em;
  display: block;
  color:#cccccc;
}
.YouTube-player-link__youtube a:hover,.YouTube-player-link__lastfm a:hover{color:#fff;}
.framed{
  background: #eee;
  display:none;
}
/*youtube progress*/
.wrap {
  position: relative;
  margin: 0 10px;
}
.range {
  -webkit-appearance: none;
  background: linear-gradient(to right,
    #8309e0 0%, #8309e0 50%,
    #777 50%, #777 62.5%,
    #444 62.5%, #444 100%);
  cursor: pointer;
  height: 3px;
  margin: 0;
  transitionx: 0.1s ease-in;
  vertical-align: bottom;
  width: 100%;
}
.wrap:hover .range,
.wrap.hover .range { height: 8px; }

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #aeaeae;
  border-radius: 8px;
  box-shadow: inset 0 0 0 5px #eaeaea;
  height: 0;
  transitionx: 0.1s ease-in;
  width: 0;
}
.wrap:hover .range::-webkit-slider-thumb,
.wrap.hover .range::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
}

.loaded .range,
.loaded .range::-webkit-slider-thumb {
  transition: 0.1s ease-in;
}

:focus {
  outline: none;
}
/*end of youtube progress*/

.YouTube-player-hint{
  padding: 5px;
  border-radius: 3px;
  color:#fff;
  background: var(--color-light);
  top: -32px;
  position: absolute; 
  display:none;
  transform: translate(-50%,10px) scale(.8);
    transform-origin: 50% 100%;
    transition: transform .2s .1s ease,opacity .2s .1s ease;
opacity: 0;
}

.YouTube-player-hint:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(210,219,228,0);
  border-top-color: var(--color-light);
  border-width: 5px;
  margin-left: -5px;
}

.wrap:hover .YouTube-player-hint{
  display: block;
  transform:translate(-50%,0) scale(1);
 opacity: 1;
}

/*Youtube's play-pause button*/

.play-pause-wrap {
  position: relative;
  width: auto;
  height: auto;
}
.play-pause {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  margin: auto;
  background: transparent;
  cursor: pointer;
}

.play-pause:hover span::before, 
.play-pause:hover span::after{border-color: #fff;}

.play-pause.paused:hover span::before, 
.play-pause.paused:hover span::after{border-left-color: #fff;}

.play-pause.paused span:before, .play-pause.paused span:after {
  box-sizing: border-box;
  border: 8px solid transparent;
  border-left: 16px solid #cccccc;
  border-right: 0;
}

.play-pause.paused span:after {
  box-sizing: border-box;
  -webkit-transform: translateY(-50%) scaleY(0.5);
  transform: translateY(-50%) scaleY(0.5);
}

.play-pause span{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
}

.play-pause span:before, .play-pause span:after {
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  border: 0 solid transparent;
  border-left: 7px solid #cccccc;
  transition: all 0.2s ease;
}

.play-pause span::before {
  box-sizing: border-box;
  left: 0;
}

.play-pause span::after {
  box-sizing: border-box;
  right: 0;
}

/*end of Youtube's play-pause button*/ 
/*player checked buttons*/

.likeButton, .repeatButton, .randomButton {
  color: #aaa;
  cursor: pointer;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 100;
}

.likeButton:after{
  content: "\f004";
}

.likeButton.checked,.repeatButton.checked, .randomButton.checked {
  text-shadow: 0 0 10px;
  color: #fff;
  font-weight: 900;
}

/*end of player checked buttons*/

/*Youtube Volume Control*/

button#bsp-volume {
  background: none;
  border: none;
  color: #cccccc;
  font-size: 18px;
  padding: 0 10px;
  height: 30px;
  outline: none;
  transition: color 0.2s;
  cursor: pointer;
  min-width: 40px;
}

button#bsp-volume:hover {
  color: white;
}

.bsp-volume-wrap {
  padding: 0 10px 0 0;
  display: inline-block;
  float:left;
}
.bsp-volume-wrap #bsp-volume {
  float: left;
}
.bsp-volume-wrap.bsp-volume-show button {
  color: white;
}
.bsp-volume-wrap.bsp-volume-show .bsp-volume-panel {
  width: 73px;
}
.bsp-volume-wrap .bsp-volume-panel {

  height: 30px;
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
  cursor: pointer;
}
.bsp-volume-wrap .bsp-volume-panel {
  position: relative;
  display:grid;
}
.bsp-volume-slider {
  padding: 10px;
  align-self: center
}

.bsp-volume-wrap .bsp-volume-panel .bsp-volume-slider-track {
  height: 2px;
  width: 70px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  background: gray;
}
.bsp-volume-wrap .bsp-volume-panel .bsp-volume-slider-progress {
  height: 100%;
  width: 50%;
  background: #8309e0;
  position: relative;
}
.bsp-volume-wrap .bsp-volume-panel .bsp-volume-slider-handle {
  height: 12px;
  width: 3px;
  position: absolute;
  top: -5px;
  right: 0;
  background: white;
}
/*end of Youtube Volume Control*/
.duration-time{
	display: inline-block; 
	float:left;
}
.add-to{
  padding:0 15px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select:none;
}
.add-to span{margin-right: 15px; }
/*Range Slider Simple for player*/

#wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.box {
  padding-top: 25px;
  padding: 25px;
  margin-bottom: 25px;
  min-width: 760px;
  margin: 25px auto;
  background: #fff;
}

.item {
  padding: 15px;
  display: inline-block;
  width: 33.33333%;
  margin-left: -3px;
}
/*to up*/
#sidebar-left{
  position: relative;
  z-index: -1;
}

.in_top {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  left: 0;
  top: 65px;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  display: none;
  width: auto;
}
.in_top div:hover {
  background-image: linear-gradient(rgb(0,0,0,0), rgba(0,0,0,1));
  opacity: 1;
  filter: alpha(opacity=100);
}

.in_top div {
  display: grid;
  color: #eee;
  font-weight: bold;
  height: 100%;
  align-self: center;
  position: relative;
  text-align: center;
}

.in_top span {
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 50vh;
  display: block;
  height: max-content;
}

.up-down { font-size:30px; }
.up-down:before { font-weight: 100; }
/*end of to up*/ 
/*tabs*/ 

.menu-tab.current-tab { 
  background: var(--color-light)!important;
  color:#fff;
}

.menu-tab.current-tab .icon{color:#fff;}

#tab-container {
  overflow:hidden;
  position: relative;
  display: grid;
}

.tab-content {
  align-self: start;
  box-sizing:border-box;
  width: 100%;
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: transform ease-out .5s;
  -moz-transition: transform ease-out .5s;
  -webkit-transition: transform ease-out .5s;
}

.tab-content:first-child {
  position: relative; 
}

.tab-content__header{
  grid-gap: 15px;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  color: white;
  display: grid;
  min-height: 160px;
  overflow: hidden;
  position: relative;
  grid-template-columns: 200px auto;
}

.tab-content__header .cover-image{margin: 25px auto;}

.cover-image {
  background: center/cover;
  height: 150px;
  width: 150px;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,.32);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.cover-image .play-button{
  color: #fff;
  width: 150px;
  height: 150px;
  position: relative;
  align-items: center;
  text-align: center;
  display: grid;
  text-shadow: 0px 0px 20px #000; 
  transition:transform .3s cubic-bezier(0,0,0,2.41);
  transition:transform .3s cubic-bezier(0,0,0,2.41),
  -webkit-transform .3s cubic-bezier(0,0,0,2.41)
}
.cover-image .play-button:before{
  font-size: 44px;
  font-weight: 100;
  font-family: 'Font Awesome 5 Pro';
}

.cover-image .play-button:hover{
  background: rgba(0,0,0,0.5);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.cover-image .play-button:hover:before{
  content:"\f04b"; 
}
.cover-image .play-button.paused:hover:before{
  content:"\f04c"; 
}
.cover-image > i {
  position: absolute;
    font-size: 50px;
    width: 150px;
    height: 150px;
    display: grid;
    align-items: center;
  }


.tab-content__header .cover-image::before {
  background: inherit;
  content: '';
  -webkit-filter: blur(8px);
  filter: blur(8px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(1.03);
  width: 100%;
  z-index: -1;
  background-attachment:fixed;
}

.tab-content__header .album-info {
  font-family: 'Open Sans', sans-serif;
  opacity: .75;
}
.tab-content__header .album-info a {
  color: inherit;
  text-decoration: none;
}
.tab-content__header .album-info a:hover {
  border-bottom: 0.1em solid;
}

.album-info__songs span{margin-right: 5px;}

.tab-content.tab-active {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.tab-content__wrapper{
  background: #fff;
  padding: 30px;
}

/*end of tabs*/ 

/*HTML5 drag and drop file uploader*/
.link-text {
  color:#2d034e;
}

.underline {
  text-decoration: underline;
}

.drop-field {
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  background: #fff;
  width: 100%;
}


.drop-area {
  height: 100px;
  width: 100%;
  
}

.drop-field .browse {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

.drop-field .drop-area {
  display: block;
  border: 2px dashed #ccc;
  position: relative;
}

.drop-field,
.drop-area,
.drop-field .browse {
  transition: all 0.3s;
}

.drop-field.loaded .drop-area {
  border: 2px solid var(--color-light);
}

.drop-field .browse {
  opacity: 0;
  transform: translateY(100%);
}

.drop-field.loaded .browse {
  color: gray;
  margin-bottom: 20px;
  opacity: 1;
  transform: translateY(0);
  bottom: 0;
  padding: 10px;
}

.drop-field.hover .drop-area {
  border: 2px solid var(--color-light);
}

.drop-field .drop-area input[type="file"] {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0.000001;
}

.drop-field .file-list {
  margin: 20px 0px;
  width: 100%;
  display: grid;
  height: 100px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.drop-field .remove {
  color: #aaa;
  padding: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 4;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(-100%);
  cursor: pointer;
}

.drop-field .remove:hover {
  color: #000;
}

.drop-field.loaded .remove {
  opacity: 1;
  transform: translateY(0);
}

.drop-field ul li {
  min-width: 100%;
  align-self: center;
  padding: 0;
  text-align: center;
  list-style: none;
}
/*end of HTML5 drag and drop file uploader*/

/* Custom ScrollBar JS */

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

/*end of Custom ScrollBar JS */

/*PURE CSS SIDEBAR TOGGLE MENU*/
.sidebarMenu {
  height: 100%;
  position: absolute;
  right: 0px;
  width: 200px;
  transform: translateX(200px);
  transition: transform 250ms ease-in-out;
  background: rgba(0,0,0,.32);
  display: grid;
  align-items: flex-end;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  padding: 2px;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li button{width:100%;}

.sidebarMenuInner li button{background: none!important;}
.sidebarMenuInner li button:hover{background: rgba(255, 255, 255, 0.10)!important;}

input[type="checkbox"]:checked ~ .sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 15px;
  right: 15px;
  height: 20px;
  width: 20px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
/*end of PURE CSS SIDEBAR TOGGLE MENU*/

/* Colors */
/* Slider options */
/* Additional Options */
input[type="range"] {
	display: block;
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"].dark::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: gray;
  border-radius: 0px;
  border: 0px solid black;
}
input[type="range"].dark::-webkit-slider-runnable-track.dark {
  border: #eee;
}

input[type="range"].dark::-webkit-slider-thumb {
  border: 0px solid black;
  height: 12px;
  width: 3px;
  position: relative;
  border-radius: 0;
  cursor: pointer;
  transition: 0.1s all ease;
  background: #fff;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"].dark:hover::-webkit-slider-runnable-track {
}
input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: gray;
  border-radius: 0px;
  border: 0px solid black;
}
input[type="range"]::-moz-range-track.dark {
  border: #eee;
}
input[type="range"]::-moz-range-thumb {
  border: 0px solid black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s all ease;
}

input[type="range"].dark::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: gray;
  border-radius: 0px;
  border: 0px solid black;
}
input[type="range"].dark::-moz-range-track.dark {
  border: #eee;
}
input[type="range"].dark::-moz-range-thumb {
  border: 0px solid black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s all ease;
  background: #fff;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
}
input[type="range"]::-ms-track.dark {
  border: #eee;
}
input[type="range"]::-ms-fill-lower {
  background: #a1aab0;
  border: 0px solid black;
  border-radius: 0px;
}
input[type="range"]::-ms-fill-upper {
  background: #bdc3c7;
  border: 0px solid black;
  border-radius: 0px;
}

input[type="range"].dark::-ms-fill-lower {
  background: #eee;
  border: 0px solid black;
  border-radius: 0px;
}
input[type="range"].dark::-ms-fill-upper {
  background: #fff;
  border: 0px solid black;
  border-radius: 0px;
}
input[type="range"]::-ms-thumb {
  border: 6px solid black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s all ease;
  margin-top: 0 !important;
}

/*end of Range Slider Simple for player*/

/* Resposive Typography */
body,
button,
input,
select,
optgroup,
textarea {
	color: #000;
	font-size: 14px;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-weight: 800;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.light {
  color:#ddd;
}

strong {
	font-weight: 600;
}

cite,
em,
i {
	font-style: italic;
}

p.big {
	font-size: 140%;
	line-height: 1.3em;
}

p.small {
	font-size: 80%;
}

blockquote {
	display:block;
  margin: 1em 20px;
  padding: 0 1em;
  position:relative;
}

blockquote:before {

}

blockquote cite,
blockquote em,
blockquote i {
	font-style: italic;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}


p {
  font-size: 1em;
}

article:last-of-type, p:last-of-type {
	margin-bottom: 10px;
}

p.intro {
  font-size:1.25em;
  line-height: 1.5;
  font-weight:300;
  margin: 0 0 1.5em 0;
}

a {color:#2d034e;text-decoration: none;}
a:hover{text-decoration: underline;}


h1, h2 {
  letter-spacing: -1px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

h1, .h1 {font-size: 2.074em;}
h2, .h2 {font-size: 1.728em;}
h3, .h3 {font-size: 1.44em;}
h4, .h4 {font-size: 1.2em;}

/* Medium Screen Typography - Scale: 1.333 Perfect Fourth (thanks http://type-scale.com/)  */
@media screen and (min-width: 42em) {
	h1, .h1 { letter-spacing: -2px; }
	h1, .h1 {font-size: 3.157em;}
	h2, .h2 {font-size: 2.369em;}
	h3, .h3 {font-size: 1.777em;}
	h4, .h4 {font-size: 1.333em;}
	p.intro { font-size:1.3em; }

}

/* Large Screen Typography  - Scale: 1.414 Augmented Fourth (thanks http://type-scale.com/)  */
@media screen and (min-width: 72em) {
	h1, .h1 { margin: 0.35em 0px; font-size: 2em; }
	h2, .h2  { font-size: 2.827em; }
	h3, .h3 { font-size: 1.999em; }
	h4, .h4 { font-size: 1.414em; }
	p.intro { font-size:1.4em; }

}





