
:root{
  --color-dark:#2d034e;
    --color-light: #6707b0;
}

html{height: 100%;}
body {
height: 100%;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  /*background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5)), url('../img/wave_texture.png') repeat; */
  background: linear-gradient(45deg, rgba(45, 3, 78, .8), rgba(45, 3, 78, .5)), url('../img/wave_texture.png') repeat;
  background-size: auto;
  position: relative;
  grid-template-columns:50px 1fr;
  display: grid;
}
body.openNav {
	grid-template-columns:250px 1fr;
}

/* Layout */

#container {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#main {
width: 100%;
background-image: linear-gradient(rgb(0,0,0,.0), rgba(0,0,0));
display: grid;
grid-auto-columns: 1fr;
  padding: 0px;
  max-width: 890px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

#header {
	height:65px;
	position: relative;
display: grid;
grid-template-columns: 0px auto;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000),
    color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));*/
  width: 0;
  box-sizing: border-box;
}

#header a.logotype {
	margin: 0 80px;
align-self: center;
  display: block;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  font-size: 21px;
  background: url('../img/wave_colored.svg') no-repeat scroll 0 50%;
  background-size: 100px;
  width: 100px;
  height: 50px;
background-position:center;
}

#header a.logotype span {
  font-weight: 400;
}

#header a.logotype:hover {
  color: #777;
}
#header a.logotype:before{
  bottom: 10px;
  font-weight: normal;
    position: absolute;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    color: white;
    content: "beta";
    left: 150px;}

.logotype__unsonet{
	transition: opacity 0.2s;
	opacity: 0.8;
	display: inline-block;
	background: url(../img/unsonet_logo_white.svg) no-repeat scroll 0 50%;
    background-size: 100px;
    width: 100px;
    height: 30px;
}

.logotype__unsonet:hover{
	opacity: 1;
transition: opacity 0.2s;
}

#footer {
	grid-template-columns: 1fr 1fr;
  padding: 30px;
    box-sizing: border-box;
    display: grid;
}
.footer-menu{
	margin:0px;
	display: block;
	list-style-type: none;
padding: 0px;}
.footer-menu li{padding: 5px 0px 5px 0px;}
.footer-menu a{
	transition: color 0.2s;
	color:#cccccc;
	font-size: 14px;
	text-decoration: none!important;
}
.footer-menu a:hover{color:white;}

.footer-menu__right {
	margin-left: auto;
    text-align: right;
}

.content {background: #fff;}

.navbar{background: #fff;}

/* Menu Styles */
.primary-nav {
	position: fixed;
	z-index: 2;
}

.menu {
	position: relative;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
	
}

.open-panel {
  border: none;
  padding: 0;
}

.hamburger {
	outline: none;
	background: none;
	position: absolute;
	display: block;
	text-align: center;
	padding: 13px 0;
	width: 50px;
  height: 65px;
	left: 0;
  top: 0;
  cursor: pointer;
}

.hamburger:before {
	content:"\2630"; /* hamburger icon */
	display: block;
  color: #fff;
  line-height: 32px;
  font-size: 16px;
}

.openNav .hamburger:before {
	content:"\2715"; /* close icon */
	display: block;
  color: #fff;
  line-height: 32px;
  font-size: 16px;
}

.hamburger:hover:before {
  color: #eee;
}

.primary-nav .menu li {
	position: relative;
}

.menu .icon {
	position: absolute;
	top: 12px;
	right: 10px;
	pointer-events: none;
  width: 24px;
  height: 24px;
  color: #fff;
}

.menu,
.menu a,
.menu a:visited {
	transition: color 0.2s;
  color: #cccccc;
  text-decoration: none!important;
	position: relative;
}

.menu a {
  display: block;
  white-space: nowrap;
  padding: 1em;
  font-size: 14px;
}

.menu a:hover {
	color: #fff;
}

.menu {
	margin-bottom: 3em;
}

.menu-dropdown li .icon {
	transition: color 0.2s;
	color: #cccccc;
}

.menu-dropdown li:hover .icon {
	color: #fff;
}



.menu label {
  margin-bottom: 0;
  display: block;
}

.menu label:hover {
  cursor: pointer;
}

.menu input[type="checkbox"] {
  display: none;
}

input#menu[type="checkbox"] {
  display: none;
}






.sub-menu-dropdown {
	display: none;
}

.new-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 890px) 1fr;
  z-index: 1;
	grid-row: 1;
	box-sizing: border-box;
	grid-column-start: 2;
	position: relative;
  width: 100%;
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  padding-top: 65px;
}

.openNav .new-wrapper {
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu:checked + ul.menu-dropdown {
    
		left: 0;
    -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
            animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked + ul.sub-menu-dropdown {
    display: block!important;
    -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
            animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
}




.downarrow {
  background: transparent;
	position: absolute;
	right: 50px;
	top: 12px;
  color: #777;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
}

.downarrow:hover {
  color: #fff;
}

.menu {
	position: absolute;
	display: block;
	left: -200px;
  top: 0;
	width: 250px;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #000;
  z-index: -1;
}

.menu-dropdown {
  top: 0;
  overflow-y: auto;
}

.overflow-container {
  position: relative;
  height: calc(100vh - 65px)!important;
  overflow-y: auto;
  margin-top: 65px;
  display:block;
}


.sub-menu-dropdown {
	background-color: #333;
}

.menu:hover {
	position: absolute;
	left: 0;
	top: 0;
}

.openNav .menu:hover {
	position: absolute;
	left: -200px;
	top 73px;
}

.openNav .menu {
  top 73px;
		transform: translate3d(200px, 0, 0);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}
	
	/* label.hamburger {
		display: none;
	} */


/* look and feel only, not needed for core menu*/

@-webkit-keyframes grow {
	
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
	
}

@keyframes grow {
	
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1
  }
	
}










/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  /* Above WP toolbar. */
}

#results {list-style:none;  }
.paging-button {  }
.button-container { margin:10px 0; }
.btn { cursor:pointer; }
/* Global Button Styles */
button.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
button.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
button.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
button.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
button.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

button.animated-button.thar-three {
	z-index: 1;
		float:right; width:150px; margin-left:10px; 
	color: var(--color-light);
	cursor: pointer;
	background:#FFF;
	display: block;
	position: relative;
	border: 2px solid var(--color-light);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
button.animated-button.thar-three:hover {
	color: #FFF !important;
	background-color: transparent;
	text-shadow: nthree;
}
button.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
button.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--color-light);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

button.animated-button.thar-four {
	z-index:1;
	float:right; width:150px;
	color: var(--color-light);
	background:#FFF;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid var(--color-light);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
button.animated-button.thar-four:hover {
	color: #FFF !important;
	background-color: transparent;
	text-shadow: nfour;
}
button.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
button.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--color-light);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
/* end Global Button Styles */


.player-controls{
position: sticky;
top:0;
z-index: 1;
}
/*Youtube playlist*/

.acc-container {
  background: #fff;
  width:auto;
padding: 5px 25px 5px 0px;
  display: block;
  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset: my-counter;
margin: 0px;
}


.acc-container li{
  display: grid;
  grid-template-columns: 50px 1fr;
padding:3px 0px;
box-sizing: border-box;
  }

.acc-container li:before{
  width:max-content;
  text-align:center;
align-self:center;
content: counter(my-counter);
counter-increment: my-counter; 
color:#aaa;
display:inline-block;
padding:10px;
-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
box-sizing: border-box;
margin: 0 auto;
}

.acc-btn { 
display:grid;
grid-template-columns:auto 1fr auto;
color:#000;
  width:100%;
  margin:0 auto;
  padding:10px;
  cursor:pointer;
  background-color:#fff;
  border-bottom:1px solid #fff;
    border-radius:5px;
    box-sizing:border-box;
}

.acc-btn:hover { 
background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}


.acc-btn:hover .acc-cover:before{
text-shadow: 0px 0px 20px #000; 
  content:"\f04b"; 
  color:#fff;
  position: absolute; 
 width: 100%;
align-self: center;
text-align: center;
      font: normal normal normal 1.5em/1 FontAwesome;
      display: inline-block;
}

.acc-btn:hover .acc-cover.paused:before{
  content:"\f04c";
}

.acc-cover{
  position:relative;
  background:#000;
  background-size: auto;
width:60px;
height:60px;
display:grid;
    border-radius:5px;
background-position: 50%;
}
.acc-title{
  padding:0 15px;
  align-self:center;
  }
.acc-controls{
color:#aaa;
  align-self:center;
  padding:0 15px;
}

.acc-content {
  grid-column: 2/3;
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}
.acc-content-inner {
  padding:15px;
}

 .acc-item.is-active .acc-btn {
  transition: all 0.2s ease-in-out;
border-bottom:1px solid #340458;
  background: var(--color-light); 
color:#fff;
}

.acc-item.is-active .acc-controls{color:#fff;}

/*end of Youtube playlist*/


button {
  appearance: none;
  border: 1px solid;
  padding: 0.5em 1em;
  background: none;
  font-size: 1em;
}
button:disabled,
button[disabled] {
    cursor: not-allowed;
    opacity: .5;
}


button.playlist__prev,button.playlist__next{
	padding: 10px; 
	float:left;
background: none;
color:#cccccc;
border: 0px;}

button.playlist__prev:hover,button.playlist__next:hover{
	transition: color 0.2s;
	color:#fff;
}


/* Component containers
----------------------------------*/
.ui-menu {font-size: 1em !important;
}

.ui-menu-item-wrapper.ui-state-active{
	background: #eee !important; 
	border:1px solid #eee !important;
}
.ui-menu-item-wrapper{padding: 5px 15px !important;}

/* end of Component containers */

.input-style{
	display: grid;
	grid-template-columns: 1fr auto;
    margin: 20px auto;
    width: 100%;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.input-style input{
    width: 100%;
    height: 100%;
    padding: 0px 16px;
    border: none;
    outline: 0;
}
.input-style button{border:0px;color:#ddd;outline: none;}
.input-style button:hover{color:#aaa;}
.input-style button.active{color:var(--color-light);}
.input-style .style{
    background: var(--color-light);
    width: 0%;
    height: 3px;
    bottom: 0px;
    margin: auto;
    grid-column: 1 / 3;
}

#YouTube-player {display: none;}
.player-popup{
  z-index: 9;
position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 80%;
}
.close-popup{
  background: #000;
  width: 50px;
  height: 50px;
  right: 0px;
  top:0px;
  font-size: 2em;
  color:white;
  display: block;
  position: absolute;
}
.close-popup:before {
  text-align: center;
    content: "\2715";
    display: block;
    color: #fff;
    line-height: 50px;
  font-size: 16px;
}


.bg {
  background-color: rgb(0,0,0,0.6);
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.YouTube-player-controls {
	color: #cccccc;
	padding: 0 15px;
	align-items: center;
	background: rgb(0,0,0,1);
display: grid;
grid-template-columns:40px 40px 40px auto auto 1fr auto auto auto;
grid-template-rows:1fr 20px 1fr;
}
.YouTube-player-details{
  padding: 15px 0px 0px 10px;
  grid-column-end: 10;
    grid-column-start: 1;}

.YouTube-player-title{padding-right: 10px; }

#YouTube-player-errors{ color:red; display: none;}
#YouTube-player-errors:before{
  content: 'Error: ';
}

#YouTube-player-rate{padding: 10px;}
.YouTube-player-speed-wrap{padding: 10px; width:70px;}

#YouTube-player-link a{
  padding: 0 10px;
  font-size:1.5em;
  display: block;
  color:#cccccc;
}
#YouTube-player-link a:hover{color:#fff;}
.framed{
  background: #eee;
  display:none;
}
/*youtube progress*/
.wrap {
  position: relative;
	padding: 0px 10px;
	grid-column-end: 10;
    grid-column-start: 1;}
.range {
  -webkit-appearance: none;
  background: linear-gradient(to right,
    #8309e0 0%, #8309e0 50%,
    #777 50%, #777 62.5%,
    #444 62.5%, #444 100%);
  cursor: pointer;
  height: 3px;
  margin: 0;
  transitionx: 0.1s ease-in;
  vertical-align: bottom;
  width: 100%;
}
.wrap:hover .range,
.wrap.hover .range { height: 8px; }

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #aeaeae;
  border-radius: 8px;
  box-shadow: inset 0 0 0 5px #eaeaea;
  height: 0;
  transitionx: 0.1s ease-in;
  width: 0;
}
.wrap:hover .range::-webkit-slider-thumb,
.wrap.hover .range::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
}

.loaded .range,
.loaded .range::-webkit-slider-thumb {
  transition: 0.1s ease-in;
}

:focus {
  outline: none;
}
/*end of youtube progress*/

.YouTube-player-hint{
  padding: 5px;
  border-radius: 3px;
  color:#fff;
  background: var(--color-light);
  top:-30px;
  position: absolute; 
  display:none;
}

.YouTube-player-hint:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(210,219,228,0);
    border-top-color: var(--color-light);
    border-width: 5px;
    margin-left: -5px;
}

.YouTube-player-hint.hover{
  display: block;
}


/*Youtube's play-pause button*/

.play-pause-wrap {
    position: relative;
  width: auto;
  height: auto;
  margin: auto;

}
.play-pause {
 display: block;
  position: relative;
  width: 16px;
  height: 16px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.play-pause:hover span::before, 
.play-pause:hover span::after{border-color: #fff;}

.play-pause.paused:hover span::before, 
.play-pause.paused:hover span::after{border-left-color: #fff;}

.play-pause.paused span:before, .play-pause.paused span:after {
  box-sizing: border-box;
  border: 8px solid transparent;
  border-left: 16px solid #cccccc;
  border-right: 0;
}
.play-pause.paused span:after {
  box-sizing: border-box;
  -webkit-transform: translateY(-50%) scaleY(0.5);
  transform: translateY(-50%) scaleY(0.5);
}
.play-pause span{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
}
.play-pause span:before, .play-pause span:after {
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  border: 0 solid transparent;
  border-left: 7px solid #cccccc;
  transition: all 0.2s ease;
}
.play-pause span::before {
  box-sizing: border-box;
  left: 0;
}
.play-pause span::after {
  box-sizing: border-box;
  right: 0;
}
/*end of Youtube's play-pause button*/ 
/*player checked buttons*/
.likeButton {
  display: inline-block;
  color: #aaa;
  cursor: pointer;
}

.likeButton.cheked:before {
  display: none;
}

.likeButton.cheked:after {
    text-shadow: 0 0 10px;
  display: inline-block;
  content: "\f004";
  color: #fff;
  opacity: 1;
}

.repeatButton{
  color:#aaa;
  cursor:pointer;
}
.repeatButton.cheked{
  text-shadow: 0 0 10px;
  color:#fff;
}
/*end of player checked buttons*/

/*Youtube Volume Control*/
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "//fonts.googleapis.com/css?family=Roboto:700";

button#bsp-volume {
  background: none;
  border: none;
  color: #cccccc;
  font-size: 20px;
  padding: 0 10px;
  height: 40px;
  outline: none;
  transition: color 0.2s;
  cursor: pointer;
  min-width: 40px;

}
button#bsp-volume:hover {
  color: white;
}

.bsp-volume-wrap {
  padding: 0 10px 0 0;
  display: inline-block;
   float:left;
}
.bsp-volume-wrap #bsp-volume {
  float: left;
}
.bsp-volume-wrap.bsp-volume-show button {
  color: white;
}
.bsp-volume-wrap.bsp-volume-show .bsp-volume-panel {
  width: 73px;
}
.bsp-volume-wrap .bsp-volume-panel {
  float: left;
  height: 40px;
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
  cursor: pointer;
}
.bsp-volume-wrap .bsp-volume-panel .bsp-volume-slider {
  position: relative;
  height: 100%;
}
.bsp-volume-wrap .bsp-volume-panel .bsp-volume-slider-track {
  height: 2px;
  width: 70px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  background: gray;
}
.bsp-volume-wrap .bsp-volume-panel .bsp-volume-slider-progress {
  height: 100%;
  width: 50%;
  background: #8309e0;
  position: relative;
}
.bsp-volume-wrap .bsp-volume-panel .bsp-volume-slider-handle {
  height: 12px;
  width: 3px;
  position: absolute;
  top: -5px;
  right: 0;
  background: white;
}
/*end of Youtube Volume Control*/
.duration-time{
	display: inline-block; 
	float:left;
	}
  .add-to{
    padding:0 15px;
    -ms-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select:none;
  }
  .add-to span{margin-right: 15px; }
/*Range Slider Simple for player*/



#wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.box {
  padding-top: 25px;
  padding: 25px;
  margin-bottom: 25px;
  min-width: 760px;
  margin: 25px auto;
  background: #fff;
}

.item {
  padding: 15px;
  display: inline-block;
  width: 33.33333%;
  margin-left: -3px;
}
/*to up*/
#sidebar-left{
  position: relative;
      z-index: -1;
}

.in_top{
-ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    left: 0;
    top: 65px;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
    display: none;
    width: auto;
}
.in_top div:hover{
   background-image: linear-gradient(rgb(0,0,0,0), rgba(0,0,0,1));
    opacity: 1;
    filter: alpha(opacity=100);
}
.in_top div{
  display: grid;
    color: #eee;
    font-weight: bold;
    height: 100%;
    align-self: center;
    position: relative;
    text-align: center;

}
.in_top span{
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 50vh;
    display: block;
    height: max-content;
}

/*end of to up*/ 

/* Colors */
/* Slider options */
/* Additional Options */
input[type="range"] {
	display: block;
  -webkit-appearance: none;
  margin: 7.5px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"].dark::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: gray;
  border-radius: 0px;
  border: 0px solid black;
}
input[type="range"].dark::-webkit-slider-runnable-track.dark {
  border: #eee;
}

input[type="range"].dark::-webkit-slider-thumb {
  border: 0px solid black;
  height: 12px;
  width: 3px;
  position: relative;
  border-radius: 0;
  cursor: pointer;
  transition: 0.1s all ease;
  background: #fff;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"].dark:hover::-webkit-slider-runnable-track {
}
input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: gray;
  border-radius: 0px;
  border: 0px solid black;
}
input[type="range"]::-moz-range-track.dark {
  border: #eee;
}
input[type="range"]::-moz-range-thumb {
  border: 0px solid black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s all ease;
}

input[type="range"].dark::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: gray;
  border-radius: 0px;
  border: 0px solid black;
}
input[type="range"].dark::-moz-range-track.dark {
  border: #eee;
}
input[type="range"].dark::-moz-range-thumb {
  border: 0px solid black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s all ease;
  background: #fff;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
}
input[type="range"]::-ms-track.dark {
  border: #eee;
}
input[type="range"]::-ms-fill-lower {
  background: #a1aab0;
  border: 0px solid black;
  border-radius: 0px;
}
input[type="range"]::-ms-fill-upper {
  background: #bdc3c7;
  border: 0px solid black;
  border-radius: 0px;
}

input[type="range"].dark::-ms-fill-lower {
  background: #eee;
  border: 0px solid black;
  border-radius: 0px;
}
input[type="range"].dark::-ms-fill-upper {
  background: #fff;
  border: 0px solid black;
  border-radius: 0px;
}
input[type="range"]::-ms-thumb {
  border: 6px solid black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s all ease;
  margin-top: 0 !important;
}

/*end of Range Slider Simple for player*/

/* Resposive Typography */
body,
button,
input,
select,
optgroup,
textarea {
	color: #000;
	font-size: 1em;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-weight: 800;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.light {
    color:#ddd;
}

strong {
	font-weight: 600;
}

cite,
em,
i {
	font-style: italic;
}

p.big {
	font-size: 140%;
	line-height: 1.3em;
}

p.small {
	font-size: 80%;
	}

blockquote {
	display:block;
    margin: 1em 20px;
    padding: 0 1em;
    position:relative;
}

blockquote:before {

}

blockquote cite,
blockquote em,
blockquote i {
	font-style: italic;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}


p {
    font-size: 1em;
    margin: 0 0 2em 0;
}

article:last-of-type, p:last-of-type {
	margin-bottom: 0;
}

p.intro {
    font-size:1.25em;
    line-height: 1.5;
    font-weight:300;
     margin: 0 0 1.5em 0;
}

h1, h2 {
    letter-spacing: -1px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

h1, .h1 {font-size: 2.074em;}
h2, .h2 {font-size: 1.728em;}
h3, .h3 {font-size: 1.44em;}
h4, .h4 {font-size: 1.2em;}


/* Medium Screen Typography - Scale: 1.333 Perfect Fourth (thanks http://type-scale.com/)  */
@media screen and (min-width: 42em) {
	h1, .h1 { letter-spacing: -2px; }
	h1, .h1 {font-size: 3.157em;}
	h2, .h2 {font-size: 2.369em;}
	h3, .h3 {font-size: 1.777em;}
	h4, .h4 {font-size: 1.333em;}
	p { font-size:1.0625em; }
	p.intro { font-size:1.3em; }

}


/* Large Screen Typography  - Scale: 1.414 Augmented Fourth (thanks http://type-scale.com/)  */
@media screen and (min-width: 72em) {
	h1 { letter-spacing: -3px; }
	h1, .h1 { margin-bottom: 0.35em; font-size: 3.998em; }
	h2, .h2  { font-size: 2.827em; }
	h3, .h3 { font-size: 1.999em; }
	h4, .h4 { font-size: 1.414em; }
	p { font-size:1.125em; }
	p.intro { font-size:1.4em; }

}





